<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

   <H1>Bien ! Tu fais enfin parti de notre commu potagère !</H1>

   <H4>Il ne te reste qu'à nous en dire plus sur toi et tu pourras intéragir avec les autres utilisateurs.</H4>

<p>Prend plaisir à cette nouvelle aventure !</p>

<p>Et à bientôt dans <a href="<%= @url %>">Mon Potager</a> </p> 

  </body>
</html>
