<div class="container">
  <div class="container col-md-8">
    <div class="form-group">
      <h1>
        Mets à jour le statut de ton potager
      </h1>
      <br/>
      <%=form_tag url_for(action: 'create'), method: "post" do %>
      <%= label_tag 'Statut' %>
      <%= text_area_tag 'content', @content, class:'form-control' %>
      <br/>

      <%= submit_tag "Confirmer la modification", class:"btn btn-light" %>
      <% end %>
    </div>
  </div>
</div>
