// monpotager theme
$brand-primary: #44c8b5;
$nav-pills-active-link-hover-bg: #44c8b5;
$btn-primary-bg: #44c8b5;
$brand-info: #25B4A0;
$fg-nav-tabs-active: #6BDBCC;
$link-color: #02A18B;
$btn-primary-border: #9FEDE2;
$btn-info-border: #9FEDE2;
$btn-info-bg: #6BDBCC;
