<div class='guidance d-flex flex-column'>

	<div class='guidance-step d-flex flex-row'>
		<div class=''>
			<h1>Tu as veux manger plus local parce que, oui, tu es sensible à la surconsommation et à la pollution. Tu veux faire profiter de tes récoltes parfois trop fructueuses pour toi seul et ne plus rien gâcher. Tu es au bon endroit !</h1>
		</div>
	</div>

		<div class=''>
			<h1>Fais une recherche par nom, code postal, fruit, légume, ... pour trouver les potagers autour de chez toi.</h1>
			Et trouve les jardins aux produits les plus alléchants.
		</div>
	</div>

	<div class='guidance-step d-flex flex-row'>
		<div class=''>
			<h1>Crée ton espace de verdure en ligne et propose le surplus de ta production aux autres jardiniers.</h1>
		</div>
	</div>

</div>
