<div class="container">
  <p>Fondé en 2019 par des étudiants en informatique, MonPotager est une plateforme de mise en relation. Elle connecte les personnes souhaitant mieux manger et les propriétaires de potager qui ne veulent plus perdre leur surplus de production.
  </p>
  <p>Pour trouver des bons légumes frais et locaux c'est simple : il suffit de taper son code postal dans la barre de recherche.
  </p>
  <p>Vous aurez ainsi la possibilité de voir les potagers à proximité. Une fois le potager identifié, il suffit de créer son compte pour contacter le propriétaire et organiser la transaction.</p>
  <p>En tant que propriétaire de potager, la création de potager est simple : en quelques clics après l'inscription, les propriétaires peuvent poster leur potager afin de partager leur surplus de production.</p>
</div>
