<div>
<p>Fondé en 2019 par des étudiants en informatique, MonPotager est une plateforme de mise en relation. Elle connecte les personnes souhaitant mieux manger et les propriétaires de potager qui ne veulent plus perdre leur surplus de production. </p>
<p>Pour trouver des bons légumes frais et locaux c'est simple : il suffit de taper son code postal dans la barre de recherche. </p>
<p>Vous aurez aisi </p>
</div>