<div class="container">
    <div class="cgu">

        <h1> Conditions générales d'utilisation</h1>
        <p>Ceci est un accord légal entre l’utilisateur potentiel de ce site Internet (« l’Utilisateur ») et MonPotager.fr, (« le Site »). L’utilisation de ce site Internet ou de tout produit ou service offert sur ce site (les « Services ») est conditionnée par l’acceptation sans modification de ces conditions d’utilisation. L’Utilisateur est prié de lire ces Conditions attentivement. Si l’Utilisateur n’accepte pas ces Conditions, il ne devrait pas utiliser le Site ou les Services. MonPotager.fr peut, à sa seule discrétion, modifier ces Conditions à tout moment et ces modifications prendront effet immédiatement après avoir été postées sur ce Site. La version la plus en récente de ces Conditions est accessible par le lien « Conditions d’utilisation » dans la page « Informations légales » de ce site. L’Utilisateur accepte de relire ces Conditions régulièrement et l’utilisation continue du Site et des Services après les modifications constitue accord de se conformer et d’être lié par les Conditions, comme modifiées.</p>
        <h2>Modifications du Site</h2>

        <p>MonPotager.fr se réserve le droit de modifier ou de supprimer n’importe lequel des services ou matériel proposés par le Site, que l’Utilisateur soit prévenu ou non, et n’est pas obligé d’entretenir ou de mettre à jour le Site ou les Services.</p>

        <h2>Accessibilité</h2>

        <p>L’utilisation du Site et des Services est nulle et non avenue là où elle est interdite. L’Utilisateur doit se conformer à tout statut, loi, ordonnance et règlement locaux, nationaux ou régionaux applicables concernant l’utilisation du Site et des Services. L’Utilisateur représente et garantit que toute les informations d’enregistrement qu’il soumet sont vraies et exactes et qu’il accepte d’assurer l’exactitude de ces informations. L’Utilisateur doit avoir au moins 18 ans et avoir an accès à Internet, une adresse email valide et une adresse d’expédition valide pour s’inscrire sur le Site et aux Services. Bien que les personnes entre 13 et 18 ans puissent utiliser le Site et les Services, ils ne peuvent le faire qu’avec la participation d’un parent ou d’un tuteur légal. Si l’Utilisateur a entre 13 et 18 ans, il devrait passer en revue ces Conditions avec son parent ou tuteur pour s’assurer que lui et son parent ou tuteur comprennent ces Conditions.

        <h2>L’échange de légumes</h2>

        <p>Une expédition est considérée réussie quand l’Utilisateur (1) sollicitant l’envoi d’un légume proposé par un autre Utilisateur (2) informe MonPotager.fr que la légume est arrivée dans les 60 jours après l’accord de l’Utilisateur 2 pour envoyer la légume. Sans se limiter à d’autres solutions, MonPotager.fr peut choisir de ne pas créditer le compte de l’Utilisateur pour toutes les légumes annoncées comme perdues, ou non conformes, ou à toutes conditions à la seule discrétion de MonPotager.fr . L’Utilisateur ne doit pas proposer, envoyer, ni demander des légumes illégales. Son accès au Site ou aux Services peut lui être immédiatement refusé s’il utilise le Site ou les Services dans un but illégal, s’il fait un usage illégal des légumes ou s’il donne des légumes illégalement. L’Utilisateur reconnaît et convient qu’il est propriétaire de toutes les légumes qu’il propose sur le Site ou par les Services. L’Utilisateur se rend compte que tous les légumes ne sont pas disponibles sur le Site ou par l’intermédiaire des Services et que MonPotager.fr ne garantit pas qu’il reçoive toute légume sollicitée ni que toute légume reçue soit en bon état.</p>

        <h2>Expédition des légumes</h2>

        <p> L’Utilisateur est entièrement responsable de tous les frais d’envoi, y compris l’empaquetage et tous les autres frais. Il est convenu que les échanges sont possibles à condition que l’échange puise se faire au tarif postal nationale en tarif normal ou tarif réduit, et dans une enveloppe de taille classique. Dans aucun cas, MonPotager.fr ne sera tenu responsable des frais que l’Utilisateur engage pour l’envoi des légumes ou de n’importe quels frais engagés directement ou indirectement par l’utilisation du Site. </p>

        <h2>Règles d’inscription et de gestion du compte</h2>

        <p>Pour s’inscrire, l’Utilisateur doit fournir ses nom, adresse d’envoi et adresse email. Il permet à MonPotager.fr de stocker et d’utiliser ces données personnelles fournies par l’Utilisateur afin de gérer le compte de l’Utilisateur. En s’inscrivant, l’Utilisateur consent également à ce que son nom et prénom, pseudo, adresse postale, puissent être révélés aux utilisateurs de MonPotager.fr pour permettre le fonctionnement du site. l’Utilisateur consent également à ce que son pseudo puisse apparaître à tout visiteur de MonPotager.fr En outre, l’Utilisateur accepte de se conformer aux conditions suivantes : L’Utilisateur doit maintenir les informations de son compte à jour ; L’Utilisateur est responsable de la confidentialité et de la sécurité de son compte ; L’Utilisateur rapportera immédiatement n’importe quelle utilisation non autorisée de son compte à MonPotager.fr , ainsi que n’importe quelle autre infraction à la sécurité ; L’Utilisateur ne partagera son mot de passe avec aucune autre personne ; et L’Utilisateur n’assignera, ne vendra ou ne transférera son compte à aucune autre personne.</p>

        <h2>Honoraires et frais</h2>

        <p>MonPotager.fr ne demandera aucun honoraire pour l’usage du Service</p>

        <h2>Annulation</h2>

        <p>MonPotager.fr se réserve le droit de clore ou de suspendre l’accès aux Services ou au Site de l’Utilisateur, avec ou sans raison, à tout moment et avec effet immédiat. Les raisons pour lesquelles MonPotager.fr peut clore ou suspendre le compte de l’Utilisateur incluent, mais ne sont pas limitées à, la violation de l’une de ces Conditions. L’Utilisateur peut annuler son compte MonPotager.fr tout moment et l’annulation prendra immédiatement effet. Il reconnait, cependant, que l’annulation aura comme conséquence la perte de tous les jetons ou toutes les légumes qui lui ont été attribués ou vendus. Pour annuler son compte, l’Utilisateur sera libre de le faire par lui même en utilisant le lien « Supprimer votre compte » dans la section « Profil » du Site.</p>

        <h2>Protection des données personnelles</h2>

        <p>Les pratiques de MonPotager.fr en matière de données personnelles sur le Site et les Services sont régies par la politique de protection des données personnelles de MonPotager.fr . L’Utilisateur est prié de lire la politique de Protection des données personnelles.

        <h2>Cookies</h2>

        <p>MonPotager.fr peut placer un cookie ou un autre petit fichier texte sur n’importe quel ordinateur avec lequel l’Utilisateur accède au Site ou aux Services et l’Utilisateur consent à cette pratique.<p>

        <h2>Consentement à la réception d’emails</h2>

        <p>En utilisant le Site et les Services, l’Utilisateur consent à recevoir des emails de MonPotager.fr. Ces envois incluront, mais ne seront pas limités à, des notifications au sujet du compte de l’Utilisateur (par exemple, email pour l’expédition et la réception des légumes) et des informations concernant ou liées au Site ou aux Services, tels que des recommandations ou des notifications de textes de présentation postés. Ces envois font partie du rapport de l’Utilisateur avec MonPotager.fr.</p>

        <h2>L’utilisation des informations soumises</h2>

        <p>L’Utilisateur reconnaît et consent à ce que toutes les estimations, revues, commentaires, suggestions, images et autres matériaux (collectivement, le « Contenu ») qu’il ajoute au Site soit placé sous la licence de partage CC-BY-SA 3.0 et il assigne par la présente tous les droits, titres et intérêts de telles contributions à MonPotager.fr . Par la présente, le droit non-exclusif, mondial, libre de droit et transmissible d’exploiter entièrement un tel Contenu (tous les droits de propriété intellectuelle relatifs y compris) est accordé à MonPotager.fr .MonPotager.fr ne passe pas régulièrement en revue le contenu posté sur le Site ; cependant, MonPotager.fr se réserve le droit d’enlever ou d’éditer n’importe quel Contenu du Site à tout moment sans communication préalable.</p>

        <h2>La conduite de l’Utilisateur</h2>

        <p>L’Utilisateur justifie, représente et consent qu’il n’ajoutera aucun contenu qui enfreint ou viole les droits de n’importe quelle autre partie ou qui viole n’importe quelles lois, qui contribue à ou encourage l’infraction ou la conduite illégale ou qui est obscène ou d’un goût douteux. Il convient que l’utilisation du Site et des Services est sujette à tous les règlements et lois locaux, nationaux ou régionaux applicables et qu’il est le responsable unique des teneurs de ses communications par le Site et les Services.</p>

        <h2>Contenu répréhensible</h2>

        <p>L’Utilisateur comprend qu’en utilisant les Services il peut rencontrer du contenu qui peut être considéré comme répréhensible, obscène ou d’un goût douteux, que ce contenu peut être ou ne pas être identifié comme ayant un langage explicite. Il accepte d’utiliser les Services à ses propres risques et que MonPotager.fr n’aura aucune responsabilité envers lui pour le contenu qu’il pourra trouver répréhensible, obscène ou d’un goût douteux.</p>

        <h2>Propriété intellectuelle</h2>

        <p>L’Utilisateur convient que le Site et les Services, incluant mais non limités aux graphiques, clip audio et contenu éditorial, contiennent des informations et du matériel qui appartiennent à MonPotager.fr et/ou ses ayant-droit et sont protégés par la propriété intellectuelle et autres lois applicables, incluant mais pas limitées aux droits d’auteur, et qu’il n’emploiera pas de tels informations ou matériaux de quelque façon excepté pour l’utilisation du Site et des Services conformément à ces Conditions. Aucune partie du Site ou des Services ne peut être reproduite sous aucune forme ou par aucun moyen, à moins qu’une permission écrite soit précédemment obtenue. L’Utilisateur accepte de ne pas modifier, louer, prêter, vendre, distribuer ou créer des oeuvres dérivées basées sur le Site ou les Services de n’importe quelle manière non autorisée. Les marques déposées, logos et marques de service (collectivement, les « marques déposées ») affichées sur le Site ou les Services, sauf indication contraire, sont les marques déposées enregistrées ou non de MonPotager.fr ou des leurs propriétaires respectifs. Rien qui ne soit contenu sur le Site ou les Services ne sera interprété comme accordant, implicitement ou autrement, n’importe quel permis ou droit d’utiliser n’importe quelle marque déposée affichée sur le Site ou les Services sans la permission écrite express du propriétaire de la marque déposée.</p>

        <h2>Réclamations pour infraction aux droits d’auteur</h2>

        <p>MonPotager.fr respecte la propriété intellectuelle des autres et nous demandons à l’Utilisateur de faire de même. Si l’Utilisateur croit que son travail a été copié d’une manière qui constitue une infraction aux droits d’auteur, il est prié de fournir à notre représentant des droits d’auteur les informations suivantes : Une signature électronique ou physique de la personne autorisée à agir au nom du propriétaire des intérêts des droits d’auteur ; Une description du travail que l’Utilisateur affirme avoir été utilisé en infraction des droits d’auteur ; Une description de l’endroit où le matériel que l’Utilisateur affirme avoir été utilisé à mauvais escient est situé sur le Site ; L’adresse, le numéro de téléphone et l’adresse email de l’Utilisateur ; Une déclaration de l’Utilisateur qu’il croit de bonne foi que l’utilisation contestée n’est pas autorisée par le propriétaire des droits d’auteur, son agent, ou la loi ; et une déclaration de l’Utilisateur, que l’information dans la déclaration ci-dessus est exacte et qu’il est le propriétaire des droits d’auteur ou est autorisé à agir au nom du propriétaire des droits d’auteur. L’Utilisateur doit faire parvenir la déclaration d’infraction aux droits d’auteur à l’adresse suivante : Association légumes de Troc – 10 avenue Paul Langevin 17180 Périgny.</p>

        <h2>Logiciel disponible sur le Site</h2>

        <p>Tout logiciel rendu disponible sur le Site est le travail soumis aux droits d’auteur de MonPotager.fr et/ou de ses fournisseurs et est accrédité mais pas vendu. L’utilisation d’un tel logiciel par l’Utilisateur est régie par les conditions de l’accord de licence, le cas échéant, qui accompagne ou est inclus avec le logiciel. L’Utilisateur ne peut installer ou utiliser aucun logiciel qui est accompagné par ou inclut un accord de licence à moins qu’il ne soit d’abord d’accord avec les conditions de l’accord de licence. Pour n’importe quel logiciel non accompagné d’un accord de licence, MonPotager.fr  accorde à l’Utilisateur par la présente le droit non-exclusif, révocable, personnel et non transmissible d’utiliser le logiciel uniquement en rapport avec le Site et les Services selon ces Conditions. L’Utilisateur ne démontera, ne désassemblera ou n’annulera pas le logiciel. Il reconnait que le logiciel, et n’importe quelle documentation d’accompagnement, est sujet aux lois et règlements d’exportation applicables en France. Il accepte de ne pas exporter ou ne pas réexporter le logiciel, directement ou indirectement, à tous les pays qui sont sujets à des restrictions à l’exportation de la France. Le droit d’utiliser le logiciel se termine avec l’arrêt de votre accès au Site ou aux Services. Le droit d’utilisation du logiciel peut également se terminer si MonPotager.fr , à son unique discrétion, modifie le Site ou les Services pour ne plus soutenir le logiciel.</p>

        <h2>Non responsabilité des garanties.

        <p>Ce site, son contenu, et n’importe quel logiciel, produits et service offert ou contenu ci-dessus sont fournis sur une base « en l’état » et sur une base « comme disponible ». MonPotager.fr n’a aucune responsabilité et ne fait aucune garantie d’aucune sorte en ce qui concerne ce site, son contenu, des logiciels ou services et nie toute responsabilité et garantie, y compris, sans limites, les garanties de valeur marchande et de compétence dans un but particulier, non infraction des droits de tiers, service sans erreur ou non interrompu, exactitude, disponibilité, fiabilité, sécurité, actualité et perfection surgissant de ou concernant ce site, son contenu ou tout lien, tout logiciel, outil, conseil, produit ou service fourni par ce site. En outre, MonPotager.fr n’a pas la responsabilité et ne garantit pas que l’information accessible par l’intermédiaire de ce site soit précise, complète ou actuelle. toute information est sujette au changement sans communication préalable.

        <h2>Limites de responsabilité.

        <p>Dans aucun cas ni MonPotager.fr , ni aucun dirigeant, membre, salarié ou bénévole de MonPotager.fr n’est responsable des dommages directs, indirects, spéciaux, fortuits, consécutifs, punitifs ou aggravés (y compris les dommages sans limites pour la perte de données, revenu ou bénéfice, pour la perte ou les dommages de la propriété et des revendications de tiers) ou de tous les autres dommages de quelque sorte, provenant de ou en rapport avec : ce site ; tous matériaux, informations, qualifications et recommandations apparaissant sur ce site ; tout logiciel, outil, conseil, produit ou service offert par, contenu dans ou annoncé sur ce site ; tout lien fourni sur ce site ; et le compte et mot de passe de l’utilisateur, que MonPotager.fr ait été avise ou non de la possibilité de tels dommages. Cette exclusion de responsabilité s’appliquera dans son extension maximale autorisée par la loi. Cette disposition survivra a l’arrêt du droit d’utiliser ce site par l’utilisateur. L’utilisateur reconnaît qu’il sera entièrement responsable de tous les dommages résultant directement ou indirectement de son utilisation du site.

        <h2>Conflits entre utilisateurs</h2>

        <p>L’Utilisateur est seul responsable de ses interactions avec d’autres utilisateurs de MonPotager.fr .MonPotager.fr se réserve le droit, mais n’a pas l’obligation, de surveiller les conflits entre les utilisateurs. </p>

        <h2>Signature électronique et contrats</h2>

        <p>L’utilisateur reconnaît que sa participation constitue accord et intention d’être lié par de tels accords. Son accord et intention d’être lié par sa participation s’applique à toutes les traces concernant toutes les transactions qu’il fait par le site, y compris des notifications d’annulation, de politique, de contrat et d’applications.</p>

        <h2>Loi régissant le site</h2>

        <p>La législation de la France, à l’exclusion de ses conflits avec les règles de loi, régissent ces Conditions et utilisation du Site et des Services par l’Utilisateur. L’utilisation du Site et des Services peut également être sujette à d’autres lois locales, nationales ou régionales. L’Utilisateur convient expressément que la juridiction exclusive réside en France pour toute réclamation ou conflit avec MonPotager.fr en rapport de quelque façon à son utilisation du Site ou des Services.</p>

        <h2>Notifications<</h2>

        <p>MonPotager.fr  peut envoyer à l’Utilisateur une notification en ce qui concerne le Site ou les Services en envoyant un email à l’adresse email fournie dans ses informations de compte, en envoyant une lettre par l’intermédiaire du courrier postal à l’adresse d’expédition fournie dans ses informations de compte ou par un message sur le Site. Les notifications deviendront effectives immédiatement après avoir été postées sur le Site et à la réception quand elles seront envoyées par email ou courrier postal.</p>

        <h2>Divers</h2>

        <p> Ces Conditions constituent accord entier entre l’Utilisateur et MonPotager.fr et régissent l’utilisation du Site et des Services par l’Utilisateur, remplaçant tous les accords antérieurs entre l’Utilisateur et MonPotager.fr . L’Utilisateur peut également être sujet aux modalités et aux conditions additionnelles qui peuvent s’appliquer quand il utilise un contenu ou un logiciel tiers. Si n’importe quelle partie de ces Conditions est jugée inadmissible ou inapplicable, cette partie sera interprétée en accord avec la loi applicable pour refléter, aussi près que possible, les intentions originales des parties et les parties restantes demeureront entières par la force et l’effet. Le manque de MonPotager.fr à imposer quelque droit ou disposition dans ces Conditions ne constituera pas une levée de cette disposition ou aucune autre disposition de ces Conditions. Si n’importe quelle disposition de ces Conditions s’avère par une cour de juridiction compétente être inadmissible, les autres dispositions demeureront entières par la force et l’effet. MonPotager.fr ne sera pas responsable des manquements aux engagements dûs à des causes indépendantes de sa volonté. Aucune agence, partenariat, entreprise commune ou emploi n’est créé du fait de l’acceptation de ces Conditions. Toutes les dispositions de ces Conditions qui par leur nature devraient survivre à l’arrêt survivront à l’arrêt, y compris, sans limites, les dispositions de propriété, la non responsabilité de garantie et les limites de responsabilité.</p>
    </div>
</div>