<div>
  <div class="Slider">
    <div class="SliderGroup">
      <h3>Les potagers autour de chez toi</h3>
      <p>Pour enfin manger du vrai local</p>
      <form>
        <div class="form-row shadow-sm p-1 mb-5 rounded search-bar">
          <%= form_tag gardens_path, :method => 'get' do %>
          <%= text_field_tag :search_near, nil, placeholder: 'Entrez votre code postal...', class: "col-8 btn bg-light text-left m-2 p-2" %>
          <%= button_tag type: 'submit', class: 'col-1 btn btn-yeah2 my-2 p-2' do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </form>
</div>
</div>
</div>

<%= render 'static/user_experience_guide' %>
