<span style="font-weight: bold"><%= garden.name %></span><br />
<%= garden.adress %><br />
<!-- TODO Attention la route est codée en dur,
     le "link_to" ne fonctionne pas ici -->
<em><a href="gardens/<%= garden.id %>">Voir la fiche</a></em>
