<span style="font-weight: bold"><%= garden.name %></span><br />
<%= garden.adress %><br />
<em><%= link_to 'Voir la fiche', "garden_path(garden.id)" %></em>
<!-- TODO See why link_to doesn't work!!! -->
