<span style="font-weight: bold"><%= garden.name %></span><br />
<%= garden.zipcode %> <%= garden.city %><br /><br />
<div class="text-center" style="font-weight: bold">TU ES ICI! <i class="fa fa-smile-o" aria-hidden="true"></i></div>