<span style="font-weight: bold"><%= garden.name %></span><br />
<%= garden.zipcode %> <%= garden.city %><br />
<!-- TODO Attention la route est codée en dur,
   link_to "Voir la fiche", garden_url(garden)
     le "link_to" ne fonctionne pas ici -->
     <span id="link-to"></span>
<em><a href="<%= garden.id %>">Voir la fiche</a></em>

