<div class="d-flex align-content-between justify-content-center flex-wrap">
  <h1 style="margin-top:100px; margin-bottom:40px">
    Fil d'actualité
  </h1>
  </div>
<div class="main-status" style="margin:0 0 100px 0">
  <div class="container-status">
    <div class="status-i">

    <% @status.each do |status| %>
      <div class="one-status">
        <p class="para-strong"><%= link_to status.content, garden_path(status.user.gardens.last) %></p>
        <p>Par <%= status.user.first_name %></p>
          <% @date = ((Time.now - status.updated_at) / 86400 * 10).to_i %>
          <% if @date == 0 %>
          <p>Posté aujoud'hui</p>
          <% elsif @date == 1 %>
          <p>Posté hier</p>
          <% else %>
          <p>Il y a <%= @date %> jours</p>
          <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
