<div class="container-status ">
  <h1>
    Les dernières actus des potagers !
  </h1>
  <div>
    <div class="status-i">
       <% @status.each do |status| %>
        <div class="one-status">
          <p class="title-status"><%= link_to status.content, garden_path(status.user.gardens.last) %></p>
          <p class="first-name-status">Par <%= status.user.first_name %></p>
           <p > <% @date = ((Time.now - status.updated_at) / 86400 * 10).to_i %>
            <% if @date == 0 %>
            <p class="date-status">Posté aujoud'hui</p>
            <% elsif @date == 1 %>
            <p class="date-status">Posté hier</p>
            <% else %>
            <p class="date-status">Il y a <%= @date %> jours</p>
            <% end %> 
         </div>
          <% end %>
    </div>
  </div>
</div>
