<div class="container">
  <div class="row" style='width:100%'>

    <div class="col">
      <ul class="list-group">
        <% @gardens.each do |garden| %>
        <li class="list-item">
        <%= link_to garden.name , garden_path(garden.id) %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <%= render 'map_for_index' %>
    </div>
  </div>
</div>