<% if @search.search_books.empty? %>
    <p>Désolé personne n'est encore dans ce domaine là</p>
<% else %>
    <% search.search_books.each do |garden| %> 
        <br> 
        <li class="list-item">
            <%= link_to garden.name , garden_path(garden.id) %>
        </li>
    <% end %>
<% end %>