 @import 'bootstrap';
 @import 'gardens.css.scss';
 @import 'users.css.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3
}

h1 {
  color: #44c8b5;
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 50px;
  color: #44C8B5;
  font-weight: bold;
  letter-spacing: 1.2px;
}

h2 {
  font-family: HelveticaNeue-Bold, sans-serif;
  font-size: 24px;
  color: #44C8B5;
  letter-spacing: 0.5px;
}

p {
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 18px;
  color: #515151;
  letter-spacing: 0.5px;
}

.titre-dark {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 28px;
  color: #3F3F3F;
  letter-spacing: 0.5px;
}

.para-strong {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 20px;
  color: #3F3F3F;
  letter-spacing: 0.5px;
}

.para-small {
	font-family: HelveticaNeue, sans-serif;
	font-size: 15px;
	color: #7B7B7B;
	letter-spacing: 0.9px;
}


/* FOOTER */

  a {
    text-decoration: none;
  }

  .container_ui{
    margin: 50px 40px 100px;
  }

  input[type=text] {
    border: none;
  }
  .connexion-info {
    color: #44c8b5;
    display:flex;
    justify-self: end;
    flex-direction: column;
    text-align: end;
    padding-right:15px;
    padding-top:5px;
 }

  .footer-container {
    padding-left:20px;
    display:flex;
    align-content: space-between;
  }

  .nav-link-hover {
    color: #44c8b5;
    text-decoration: none;
    font-weight: 600;
  }

  .footer {
    height: 80px;
    padding: 1%;
    background-color: #44c8b5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    }

    .footer-container {
      padding-left:20px;
      display:flex;
      align-content: space-between;
    }

html, body {
    height: 100;
    margin: 0;
  }

  .connexion-info {
    color: #44c8b5;
    display:flex;
    justify-self: end;
    flex-direction: column;
    text-align: end;
    padding-right:15px;
    padding-top:5px;
 }

 .fab, .far {
  color:white;
  font-size:2em;
  padding:10px;
}

ul.horizontalist li{
	display: inline;
}

.social-media {
  text-align:right;
  padding-right:30px;
}


.links {
  text-decoration: none;
  color:white;
  }

  ul {
    list-style-type: none;
    vertical-align:center;
   }

  li {
    font-size:0.8em;
    padding-left:50px;
    line-height: 1.3em;
    padding-top:5px;
  }


/* NAVBAR */
a {
  color: #44C8B5
}
a:hover {
  color: #44C8B5;
}

.navbar-header {
  display: flex;
  flex-direction: row;
}

.nav-create {
  font-size: 1.5em;
 }

 .nav-bar {
  display: flex;
  flex-direction: column;
  padding-bottom:50px;
}

.nav-connect {
  font-size: 0.7em;
 }

.connexion-info {
  color: #44c8b5;
  display:flex;
  justify-self: end;
  flex-direction: column;
  text-align: end;
  padding-right:15px;
  padding-top:5px;
}

.form-row {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-top:4px;
  padding-bottom:4px;
}

.nav-connexion {
    margin: 15px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  padding-bottom:50px;
}

.nav-connect {
  font-size: 0.7em;
 }

.nav-research {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 5px 10px 3px rgba(194,194,194,0.50);
  border-radius: 16px;
  width:50%;
  margin: auto;
  margin-top:20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
