 @import 'bootstrap';
 @import 'gardens.css.scss';
 @import 'users.css.scss';
 @import 'statuses.css.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  display:flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

h1 {
  color: #44c8b5;
  font-family: HelveticaNeue-Bold,'Open Sans';
  font-size: 50px;
  color: #44C8B5;
  font-weight: 700;
  letter-spacing: 1.2px;
}

h2 {
  font-family: HelveticaNeue-Bold, 'Open Sans';
  font-size: 24px;
  color: #44C8B5;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  font-family: HelveticaNeue, 'Open Sans';
  font-size: 1.4em;
  line-height: 1.6;
  color: #44C8B5;
  font-weight: 400;
  letter-spacing: 0.5px;
}

p {
  font-family: HelveticaNeue-Light, 'Open Sans';
  font-size: 1.2em;
  line-height: 1.7;
  font-weight: 300;
  color: #515151;
  letter-spacing: 0.5px;
}

.guidance-step-image {
  width: 100%;
  max-width: 450px;
  min-width: 350px;
  height: auto;
}

.mt-6 {
  margin-top: ($spacer * 6) !important;
}

.mb-6 {
  margin-bottom: 100px !important;
}

.mt-7 {
  margin-top: ($spacer * 10) !important;
}

.titre-dark {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 28px;
  color: #3F3F3F;
  letter-spacing: 0.5px;
}

.para-strong {
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 20px;
  color: #3F3F3F;
  letter-spacing: 0.5px;
}

.para-small {
	font-family: HelveticaNeue, sans-serif;
	font-size: 15px;
	color: #7B7B7B;
	letter-spacing: 0.9px;
}

.container {
  min-height:100%;
  width:100%;
}

.gardens-update-btn {
  display:flex;
  flex-direction:row;
}

.products-garden {
  display:block;
}


/* FOOTER */

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .container_ui{
    margin: 50px 40px 100px;
  }

  input[type=text] {
    border: none;
  }

  .footer-container {
    padding-left:20px;
    display:flex;
    align-content: space-between;
  }

  .footer {
    min-height: 100px;
    background-color: #44c8b5;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .footer-container {
      padding-left:20px;
      display:flex;
      align-content: space-between;
  }

  .container {
  flex: 1 0 auto;
  }

.container-edit {
flex: 1 0 auto;
margin-top:100px;
}

html, body {
  height: 100%;
  margin:0px;
}

 .fab, .far {
  color:white;
  font-size:2.3em;
  padding:15px;
}

ul.horizontalist li{
	display: inline;
}

.social-media {
  display:flex;
  align-items: center;
  justify-content: center;
  }

  .icons {
  display:flex;
  flex-direction: row;
  }

.links {
  text-decoration: none;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  }

  ul {
  list-style-type: none;
  margin:0;
  }

 .links li {
    font-size:0.8em;
    text-align: center;
  }

/* NAVBAR */

a {
  color: #44C8B5
}

a:hover {
  color: #44C8B5;
}

.fa-search {
  color: #7B7B7B;
}

.carousel-caption h2 {
  font-size: 3em;
  color: white;
  display: block;
  }

.connexion-info {
  display:flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap:wrap;

}

.connexion-info li {
  display:flex;
  font-size:0.6em;
  padding-left:20px;
  padding-right:20px;
  display: row;
  vertical-align: middle;
}

.navbar-header {
  display: flex;
  flex-direction: row;
}

.nav-create {
  font-size: 1.5em;
 }

.nav-item {
  list-style: none;
}

.nav-connect {
  font-size: 0.7em;
 }

.form-row {
  display: flex;
  justify-content: space-around;
  padding-top:10px;
  padding-bottom:10px;
}

.nav-connexion {
    margin: 15px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  padding-bottom:50px;
}

navbar {
  background-color:white;
}

.nav-connect {
  font-size: 0.7em;
 }

 .nav-link-hover {
  color: #44c8b5;
  text-decoration: none;
  font-weight: 600;
}
.nav-research {
  display: flex;
  padding: 5px 5px 5px 20px;
  flex-direction:row;
  align-content: center;
  background: #FFFFFF;
  box-shadow: 0 1px 10px 2px rgba(194,194,194,0.30);
  border-radius: 10px 10px 10px 10px;
  margin: auto;
}

.nav-research input[type=text] {
  width:70%;
}

.button-1 {
  padding: 8px 20px;
  font-size: 20px;
  color: white;
  background: #44c8b5;
  border:none;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8,0.2,1);
}

.button-1:hover{
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
  color: #44c8b5;
  transform: translateY(-3px);
}

/* FORMS */

.card h2 {
  text-align: center;
  padding-top:10px;
  font-size:1.5em;
  padding-bottom:30px;

}

.container-card {
  padding-top: 60px;
  padding-bottom: 50px;
}

.container-fluid {
  padding:0px;
  margin: 0px;
}

label {
  display: none;
}

.boolean {
  display: inline-block;
  font-size:0.9em;
  color:#515151;
  padding-top:25px;
}

.text-muted {
  font-size:0.7em;
  padding-left:10px;
}

.submit-btn {
  background-color:#44C8B5;
  color:white;
  font-size: 1.1em;
  float:right;
  border-radius:14px;
}

.submit-btn2 {
  margin-top: 50px;
  padding: 10px 0 10px 0;
  background-color:#44C8B5;
  color:white;
  font-size: 1.1em;
  float:right;
  border-radius:14px;
}

.send-message {
  display:flex;
  justify-content: center;
 }


.send-message button {
  float: none;
  margin-top:20px;
 }


.submit-btn-ligth {
  background-color:white;
  color:#44C8B5;
  font-size: 0.9em;
  border: solid 1px #44C8B5;
  border-radius:14px;
  display:inline-block;
}

.submit-btn-ligth2 {
  margin: -30px 0 10px 0;
  background-color:white;
  color:#44C8B5;
  font-size: 0.9em;
  border: solid 1px #44C8B5;
  border-radius:14px;
  display:inline-block;
}

.submit-btn-ligth3 {
  margin: -5px 0 0px 0;
  background-color:white;
  color:#44C8B5;
  font-size: 0.9em;
  border: solid 1px #44C8B5;
  border-radius:14px;
  display:inline-block;
}

.CTA .submit-btn-ligth3 {
  margin-top:8px;
  background-color:#44C8B5;
  color:white;
  font-size: 0.9em;
  border: solid 1px #44C8B5;
  border-radius:14px;
  display:inline-block;
  padding: 10px;
}

.card input {
  margin-top:30px;
}

.card a {
  float:right;
  display:block;
  font-size:0.8em;
}

.form-connexion {
  padding-top:10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.status-group {
  padding: 3%;
  height: 300px;
  width: 25%;
  background: white;
  box-shadow: 0 4px 10px 1px rgba(203, 203, 203, 0.5);
  overflow: scroll;
}

.form-control {
  border: 1px solid #ced4da !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container-new-garden {
  margin: 80px 0 0 0;
}

.Slider {
  background: url('./slide4.jpg');
  height: 550px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.SliderGroup {
  margin: 0 auto;
  max-width: 750px;
  padding: 100px 50px;
  text-align: center;
}

.Slider h3 {
  margin: 0 0 50px 0;
  color: white;
  font-size: 60px;
  font-family: HelveticaNeue-Bold, 'Open Sans';
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
  text-shadow: #464646 1px 0 10px;

}

.Slider p {
  font-family: HelveticaNeue-Light, 'Open Sans';
  font-weight: 300;
  margin: -35px 0 20px 0;
  color: rgb(255,255,255);
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
  text-shadow: #000 1px 0 10px;
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fa-search {
  color: #44c8b5;
}

.search-bar {
  background: rgba(250,250,250, 0.8);
}

.status-cards-index {
  font-size:18px;
  padding:0 30px 0 30px;
  margin: -10px 0 0 0;
  text-align:center;
}

.gtu p {
  font-size: 0.6em;
  margin-top:10px;
}

.card:hover {
 transform: translateY(-10px);
 animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
 transition: 0.3s;
}

.page-link {

  color: #44C8B5 !important ;
  background-color: white#44C8B5;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link{
  background-color: #44c8b5;
  border:  #44c8b5;
  color:white !important;
}

.pagination {
  margin-top:50px;
  margin-bottom:50px;
}

.main-status{
  margin-top: 100px;
  margin-bottom: 100px;
}

.one-status{
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CECECE;
}

.one-status a {
  font-size:1.3em;
}

.one-status p {
  margin-top:5px;
  margin-bottom:8px;
}

.container-status {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 900px;
  display: block;
  margin: auto;
}

.container-status h1 {
  margin-bottom:30px;
  text-align: center;
}

.title-status {
}

.date-status {
 font-size: 0.6em;
}

.intro {
  font-family: HelveticaNeue-Light, 'Open Sans';
  font-size: 1.2em;
  line-height: 2;
  font-weight: 300;
  color: #515151;
  letter-spacing: 0.5px;

}

.one-status #cercle {
  margin-bottom:15px;
  margin-left:15px;
}

.circle-avatar-user-status {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 200px;
  border: solid 4px #44C8B5;
  background: white;
}

.productname {
font-size:1em;
margin-bottom:-20px;
margin-top:15px;
}