// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .main {
//   background: #FFFFFF;
//   box-shadow: 0 4px 10px 1px rgba(203,203,203,0.50);
//   border-radius: 6px 6px 0 6px 6px;
//   margin: 10px 25px 10px 25px;
// }


.presentation {
  background: white;
  box-shadow: 0 4px 10px 1px rgba(203,203,203,0.50);
  display: flex;
}

.contact {
  background: white;
  box-shadow: 0 4px 10px 1px rgba(203,203,203,0.50);
  border-radius: 6px 6px 0 6px 6px;
  border: 2px black solid;
  width: 50%;
}


.circle-avatar-user {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: solid 4px #44C8B5;
  background: white;
  margin-top: -10%;
}

.id-card {
  display:flex;
  flex-direction: row;
}

.infos-connexion {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:flex-end;
}

.infos-connexion .btn {
  margin-top:5px;
}

.container-avatar {
  display:flex;
  justify-content: center;
}

.card-container-user {
  margin: 0 auto;
  padding: 3%;
}

.card-container {
  margin: 0 auto;
}

.container {
  margin-top: 150px;
}

.wtf-container {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-pic {
  margin-top: -50px;
}
