<p>Bonjour <%= @resource.email %>!</p>

<p>Une personne a demandé un lien pour changer votre mot de passe. Vous pouvez le faire grâce à ce lien.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Si vous n'êtes pas à l'origine de la demande, merci d'ignorer ce mail.</p>
<p> Votre mot de passe ne sera pas changé tant que vous ne cliquez pas sur le lien pour en créer un nouveau.</p>
