<p>Bonjour
  <%= @resource.email %>!</p>

<p>Votre compte a été bloqué dû à un excès de tentatives infructueuses.</p>

<p>Cliquez sur le lien ci-dessous pour débloquer votre compte :</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
