<footer class="footer">

      <div class="footer-container row">
            <div class="reverse-logo col-sm" ><%= link_to(image_tag('logo-white', width:300), root_path)  %> </div>
            <div class="links col-sm"> 
                  <ul>
                  <li>A propos</li>
                  <li>CGV</li>
                  <li>Plan du site</li>
                  </ul>
            </div>
            <div class="social-media col-sm" >
                  <div class="icons">
                  <i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="far fa-envelope"></i></div>
                  </div>

      </div>

</footer>