

<nav class="navbar justify-content-between">

  <div><%= link_to(image_tag('logo', width:350), root_path)  %> </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    <div> Créer mon potager </div>
    <div> Me connecter </div>
</nav>