

<nav class="navbar">

  <div ><%= link_to(image_tag('logo', width:350),)  %> </div>
     <div class="connexion-info">
        <div class="nav-connexion"> Créer mon potager </div>
        <div class="nav-connexion"> Me connecter </div>
      </div>
</nav>

<form class="nav-research">
  <div class="form-row">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Rechercher">
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Où ?">
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Quoi ?">
    </div>
  </div>
</form>

</form>
