

<nav class="navbar">

  <div ><%= link_to(image_tag('logo', width:350))  %> </div>
     <div class="connexion-info">
        <% if user_signed_in?  %>
          <li class="nav-item">
            <%= link_to "Deconnexion",destroy_user_session_path, method: :delete, class: "nav-create noHover" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Me connecter", user_session_path, class: "nav-connexion noHover" %>
          </li>
          <li class="nav-item">
            <%= link_to "Creer mon potager", new_user_registration_path, class: "nav-create noHover" %>
          </li>
          <% end %>
      </div>
</nav>

<form class="nav-research">
  <div class="form-row"> 
  <div ><i class="fa fa-search" aria-hidden="true"></i>
</div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Rechercher">
    </div>
    <div ><i class="fas fa-map-marker-alt"></i></div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Où ?">
    </div>
    <div><i class="fas fa-carrot"></i></div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Quoi ?">
      </div>
   </div>
  </div>
</form>

</form>
